<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
</head>

<body>
    <div class="headerSearch">
        <input type="text" placeholder="Search Room">
        <a href="/profile/upload">add profile pic</a>
    </div>

    <a href="/user/logout">LOGOUT</a>


    <% if (typeof user !='undefined' ) { %>
        <%if(user.profilePic <0 ){%> 
        <a href="/profile/upload"><img src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_1280.png" alt="Avatar" class="avatar"></a>
        
    <%} %>
    <img src="/uploads/<%=user.profilePic %> "alt="Avatar"class="avatar"/>
        
    <% } %>

    
    
        
    <div>
        
        
    </div>
    
</body>
</html>