<h1>delete  Message </h1>

<%#= messageObj[0].conversation %> 
<!-- <div><%#= reqParams %>----- </div> -->


<%  for (eachConv of messageObj[0].conversation ){%> 
    <% if(reqParams == eachConv._id ){ %> 
        <%= eachConv %> 
    <% } %> 
    

    
    

<% } %> 

