<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/style.css">
    <title>Home</title>
</head>
<body>

    <div class="header"><%- include("partials/header") %> </div>

    <div class="container">
        <div> <%- include("partials/sidebar") %></div>


        <div> <%- include("partials/chat") %> </div>

    </div>

    

    
    <!-- <form id="chatForm">
        <input id="msgInput" autocomplete="off">
        <button>send</button>
    </form> -->
    
    

    <!-- <script src="/socket.io/socket.io.js"></script> -->
    <!-- <script src="/public/main.js"></script>  -->

    <!-- <script>
        const socket = io()

        // message from server
        socket.on("message", message=>{
            console.log(message);
        })
        let chatForm = document.getElementById("chatForm")
        let input = document.getElementById('input');

        // message submit
        chatForm.addEventListener("submit", e =>{
            e.preventDefault()
            // // get message text
            // const msgInput = e.target.elements.msgInput.value
            // // emit message to server
            // socket.emit("chatMessage", msgInput );


            if(msgInput.value){
                console.log( msgInput.value);
                socket.emit("chat message" , msgInput.value)
            }
            msgInput.value=""
        })

        socket.on("chat message ", message=>{
            console.log(message);
            let item  = document.createElement("li")
            item.textContent=message

            item.style.backgroundColor="red";
            item.style.marginLeft="500px";


            messages.appendChild(item)

        })

        
    </script>    
     -->
</body>
</html>