html,
body {
  font-family: Slack-Lato, appleLogo, sans-serif;
  color: black;
  margin: 0;
  height: 100%;
}
a {
}
.container {
  display: grid;
  grid-template-columns: 1.3fr 3fr;
}

.header {
  display: flex;
  justify-content: center;
  background-color: #350d36;
  color: white;
  width: 100%;
  height: 40px;
}

.headerSearch {
  margin: auto;
}
.headerSearch input {
  width: 500px;
  height: 25px;
  border: none;
  border-radius: 5px;
  color: white;

  background: rgb(67, 30, 68);
  box-shadow: inset 0 0 0 1px rgb(104 74 104);
}

.avatar {
  vertical-align: middle;
  width: 38px;
  height: 38px;
  border-radius: 10%;
}
#channelId {
  /* display: none; */
}
/* ___________________________________________________________ */
.sidebar {
  margin: 0;
  background-color: #350d36;
  min-height: 100vh;
  height: 100vh;
  color: white;
  overflow-y: scroll;
}

.sidebarHeader {
  border-top: 1px solid rgb(71, 71, 71);
  border-bottom: 1px solid rgb(71, 71, 71);
  padding: 1rem;
  margin: 0;
}

.sidebarContent {
  padding-left: 1rem;
}
.sidebarSections {
  opacity: 70%;
}

.loggedUser {
  display: flex;
}

/* ___________________________________________________________ */
.channel {
  color: black;
  /* background-color: blue; */
  padding-left: 1rem;
}

.channelsDiv > a {
  color: white;
}

.channelButt {
  background-color: inherit;
  color: inherit;
  width: 100%;
  height: 30px;
  margin: 5px 0;
  border: none;
  cursor: pointer;
  text-align-last: left;
}
.channelButt:hover {
  background-color: #2a0a2b;
}
.channelButt:focus {
  outline: none;
}

#userId {
  display: none;
}

.users {
  background-color: inherit;
  color: inherit;
  font-size: 15px;
  border: none;
  padding-top: 3px;
  cursor: pointer;
  width: 100%;
  text-align: left;
}
.users:hover {
  background-color: #2a0a2b;
}
.users:focus {
  outline: none;
}

.conversationTab {
  margin: 0;
  /* height: 100vh; */
  color: #000;
  /* padding-left:20px ; */
}
.conversation-header {
  border-bottom: 1px solid rgb(185, 185, 185);
  height: 40px;
  padding: 10px 20px;
  font-weight: bold;
}
.messagefield {
  width: 80%;
  margin: 5px 20px;
  background-color: transparent;
}

#form > button {
  position: fixed;
  right: 10px;
  bottom: 10px;
  /* height: 50px; */
  margin-left: 20px;
  outline: none;
  /* padding: 20px; */
  opacity: 0;
}
#form > input {
  position: fixed;
  bottom: 20px;
  width: 60%;
  height: 85px;
  outline: none;
  border: 1px solid gray;
  border-radius: 10px;
}

.chat-messages {
  padding-left: 20px;
  min-height: 200px;
  max-height: 340px;
  overflow-y: scroll;
  
}

.eachMessageDiv {
  /* border: 2px solid red; */
  display: flex;
  margin: 15px 0;
  border-bottom: 1px solid rgba(161, 157, 157, 0.425);

}
.eachMessageDiv:hover{
  background-color: rgb(219, 214, 214);
}
.msgText {
  margin: 0;
  height: 50px;
  /* font-weight:bold ; */
  height: 2rem;
}
.userPic {
  /* display: flex; */
  align-items: flex-end;
  padding-right: 11px;
}

.msgUser {
  margin: 0;
  font-weight: bold;
}


.message:hover {
  background-color: grey;
}
.msgDate {
  padding-bottom: 2px;
  font-weight: normal;
  width: 100%;
  padding-left: 20px;
}


/* hide the id  */
#channelId {
  /* opacity: 0; */
}

#registerForm {
  width: 300px;
  margin: 50px auto;
}
