html,
body {
  font-family: Slack-Lato, appleLogo, sans-serif;
  color: white;
  margin: 0;
  height: 100%;
}
.container {
  display: grid;
  grid-template-columns: 1.3fr 3fr;
}

.header {
  display: flex;
  justify-content: center;
  background-color: #350d36;
  color: white;
  width: 100%;
  height: 40px;
}

.headerSearch {
  margin: auto;
}
.headerSearch input {
  width: 500px;
  height: 25px;
  border: none;
  border-radius: 5px;
  color: white;

  background: rgb(67, 30, 68);
  box-shadow: inset 0 0 0 1px rgb(104 74 104);
}

.avatar {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
/* ___________________________________________________________ */
.sidebar {
  margin: 0;
  background-color: #350d36;
  min-height: 100vh;
  height: 100vh;
}

.sidebarHeader {
  border-top: 1px solid rgb(71, 71, 71);
  border-bottom: 1px solid rgb(71, 71, 71);
  padding: 1rem;
  margin: 0;
}

.sidebarContent {
  padding-left: 1rem;
}
.sidebarSections {
  opacity: 70%;
}

/* ___________________________________________________________ */
.channel {
  color: black;
  /* background-color: blue; */
  padding-left: 1rem;
}

.channelsDiv > a {
  color: white;
}

.channelButt {
  background-color: inherit;
  color: inherit;
  width: 100%;
  height: 30px;
  margin: 1px 0;
  border: none;
  cursor: pointer;
  text-align-last: left;
}
.channelButt:hover {
  background-color: #2a0a2b;
}
.channelButt:focus {
  outline: none;
}

.conversationTab {
  margin: 0;
  /* height: 100vh; */
  color: #000;
  /* padding-left:20px ; */
}
.conversation-header {
  border-bottom: 1px solid rgb(185, 185, 185);
  height: 40px;
  padding: 10px 20px;
  font-weight: bold;
}
.messagefield {
  border: 1px solid rgb(20, 13, 59);
  width: 80%;
  margin: 5px 20px;
  background-color:transparent ;
}

#form > button {
  position: fixed;
  bottom: 30px;
  height: 50px;
  margin-left: 20px;
  outline: none;
  padding: 20px;
  opacity: 0;
}
#form > input {
  position: fixed;
  bottom: 20px;
  width: 60%;
  height: 85px;
  outline: none;
  border: 1px solid gray;
  border-radius: 10px;
}

.chat-messages {
  padding-left: 20px;
  min-height: 200px;
  max-height: 260px;
  overflow-y: scroll;
  /* border: 2px solid red; */
}
.chat-messages > .message {
  height: 50px;
  background-color: rgb(202, 202, 202);
}